<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="text-custom">
      Shop
    </ion-title>
  </ion-toolbar>
  <ion-toolbar class="secondary-toolbar ion-text-center" color="dark">
    <ion-button (click)="presentAddItemModal()" size="small"
      ><ion-icon slot="start" name="add-circle"></ion-icon>Add item</ion-button
    >
    <ion-button size="small"
      ><ion-icon slot="start" name="paper"></ion-icon>Receipt</ion-button
    >
    <ion-button (click)="scanCode()" size="small"
      ><ion-icon slot="start" name="barcode"></ion-icon>Barcode</ion-button
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Testing OCR - Delete if you don't need OCR
  <ion-button (click)="selectSource()">OCR Test</ion-button>
  <ion-button (click)="recognizeImage()" [disabled]="!selectedImage">Hi Marieke!!</ion-button>
 
  <img [src]="selectedImage" *ngIf="selectedImage">
 
  <ion-card *ngIf="imageText">
    <ion-card-header>
        <ion-card-title>Image text</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ imageText }}
    </ion-card-content>
  </ion-card>
  End Testing OCR - Delete if you don't need OCR -->
</ion-content>
