<ion-card class="recipe-card">
  <div class="recipe-card-img">
    <img src="https://www.bbcgoodfood.com/sites/default/files/recipe-collections/collection-image/2013/05/spaghetti-bolognese_2.jpg" />
    <div class="recipe-card-meta">
      <span><ion-icon name="alarm"></ion-icon> 15</span><span>$16</span><span>400 cal</span>
    </div>
  </div>
  <ion-card-header>
    <ion-card-subtitle>Italian</ion-card-subtitle>
    <ion-card-title>Bolognese</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    One line description of recipe
    <div class="tag-container">
        <div class="tag">Easy meals</div><div class="tag">Vegetarian</div><div class="tag">Healthy</div>
    </div>
  </ion-card-content>
</ion-card>