<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tab3"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-custom">Recipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img src="../../assets/img/redDuck.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Recipe</ion-card-subtitle>
      <ion-card-title>Thai Red Duck Curry</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat
    </ion-card-content>
  </ion-card>
</ion-content>
