.content {
  margin: 0 20px;
}
.menuGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.menuCard {
  flex: 0 0 125px;
  margin: 10px 0;
  text-align: center;
  color: #000;
  text-decoration: none;
}
.menuImage {
  border-radius: 30px;
  overflow: hidden;
  flex: 1 1 auto;
  width: 120px;
  height: 120px;
  margin-bottom: 5px;
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}
.menuText {
  text-align: center;
  color: #000;
}
