<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="text-custom">
      Profile Settings
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ng-container *ngIf="isOnline()">
      <ion-button (click)="logOut()">
        Log Out
      </ion-button>
      <ion-text>The secret message is "You're logged in!"</ion-text>
    </ng-container>
    <ng-container *ngIf="!isOnline()">
      <ion-button (click)="logIn($event)">
        <ion-icon name="key"></ion-icon>
      </ion-button>
      <ion-text>Log In to see the secret message</ion-text>
    </ng-container>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-profile-form></app-profile-form>
</ion-content>